language: scala
scala:
   - 2.10.3

script:
  - cd module
  - sbt ++$TRAVIS_SCALA_VERSION test

notifications:
  # Email notifications are disabled to not annoy anybody.
  # See http://about.travis-ci.org/docs/user/build-configuration/ to learn more
  # about configuring notification recipients and more.
  email: 
    - mguillermin@clever-age.com
